*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset padding on all content */
body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* NAVIGATION */
.navbar {
  position: absolute;
  width: 100%;
  padding: 0;
}

.navbar-brand {
  padding: 0
}

.nav-item {
  font-size: 20px;
}

.home {
  height: 60px;
  width: 60px;
  background-image: url("images/home.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.home:hover {
  height: 60px;
  width: 60px;
  background-image: url("images/home-grey.png");
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.row {
  margin: 0;
  height: fit-content;
}

/* LEFT CONTAINER */
.left-container {
  color: #000;
  background-color: #e7e6e1;
  height: auto;
  min-height: 100vh;
  padding: 0;
}

.title {
  position: relative;
  top: 345px;
  text-align: center;
  padding: 0 2em;
}


.top-text {
  font-size: 6rem;
  position: relative;
  z-index: 1;
}

.mid-text {
  position: relative;
  z-index: 1;
}

.circle {
  top: -225px;
  height: 250px;
  width: 250px;
  background-color: #bd0029;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 0;
}

/* RIGHT CONTAINER */
.right-container {
  background-color: #fff;
  padding: 0 0 1em;
  height: auto;
  min-height: 100vh;
  max-height: fit-content;
  text-align: center;
  overflow: auto;
}

.button-control {
  position: relative;
  top: 45%;
}

.button-control h1 {
  padding: 0 1em;
  font-size: 1.7rem;
  margin-bottom: 1.0em;
}

.btn-lg {
  font-size: 1.50rem;
  color: #bd0029;
  border-color: #bd0029;
}

.btn-lg:hover {
  background-color: #bd0029;
  border-color: #bd0029;
}

/* POST GENERATE PRESS */
.btn-top {
  display: block;
  position: relative;
  z-index: 1;
  margin-top: 1.5em;
  font-size: 1.0rem;
  margin-left: 25px;
}

.prev, .next {
  display: block;
  position: relative;
  margin-top: -35px;
  margin-left: 150px;
  font-size: 0.8rem;
  padding-left: 9px;
  padding-right: 9px;
}

.next {
  margin-left: 180px;
  margin-top: -33.0px;
}

.anime-cover-image {
  margin-top: 25px;
  width: 100%;
  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.anime-title {
  font-size: 1.6rem;
  margin: 1em 0;
  padding: 0 2em;
}

.anime-synopsis {
  padding: 0 2em;
}

.anime-synopsis h3 {
  text-align: left;
  font-size: 1.2rem;
}

.anime-synopsis h3::after,
.anime-info h3::after,
.anime-genres h3::after {
  display: block;
  margin-top: 0.5em;
  content: '';
  width: 100%;
  height: 0.5px;
  background: #000;
}

.anime-synopsis p {
  padding-top: 1em;
  text-align: left;
}

.anime-info {
  padding: 1em 32px;
  font-size: 19px;
}

.anime-info h3 {
  text-align: left;
  font-size: 1.2rem;
}

.grid-container {
  padding-top: 16px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid-item {
  font-size: 1.0rem;
  background: #e7e6e1;
  height: fit-content;
  border-radius: 5px;
  padding: 7px 1em;
}

.anime-genres {
  padding: 1em 32px;
  font-size: 18px;
}

.anime-genres h3 {
  text-align: left;
  font-size: 1.2rem;
}

.anime-genres p {
  padding-top: 16px;
  text-align: left;
}

.footer {
  background-color: #314e52;
  border: 1px solid;
  height: 200px;
  margin-top: -1.5%;
}

@media (max-width: 570px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 1199px) {
  .left-container {
    height: 100vh;
  }
}

/* media queries */
@media (max-width: 448px) { /*mobile design */

  .title {
    top: 37%;
  }

  .anime-synopsis {
    padding: 0 1.5em;
  }

  .grid-container {
    grid-template-columns: auto auto;
  }

  .top-text {
    font-size: 64px;
  }

  .mid-text {
    font-size: 1rem;
  }

  .circle {
    margin-top: 80px;
    height: 165px;
    width: 165px;
  }

  .right-container h1 {
    font-size: 1.3rem;
  }

}
